.body{
    position: relative;
}
.wrapper {
    overflow: hidden;
    min-height: 100vh;
    background-color: #fff;
    padding-top: 70px;
    }
.container {
    width: 100%;
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    }
.main{
    min-width: 0;
    background-color: $body-bg;
    padding-bottom: 40px;
}
.text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75;
    color: $text-color;
}
.section-title{
    position: relative;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.15;
    color: $text-color;
    padding-bottom: 10px;
        &::before{
            position: absolute;
            content: '';
            width: 50px;
            height: 3px;
            background-color: $orange;
            bottom: 0;
            left: 0;
            border-radius: 2px;
        }
}
.aside{
    grid-area: aside;
    &__banner{
        min-height: 270px;
        border: 1px #000 solid;
        background-color: #E8E8E8;
    }
}