.body{
    position: relative;
}
.wrapper {
    overflow: hidden;
    min-height: 100vh;
    background-color: #fff;
    padding-top: 70px;
    }
.container {
    width: 100%;
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    }
.main{
    min-width: 0;
}
.text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75;
    color: $text-color;
}
.section-title{
    position: relative;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.15;
    color: $text-color;
    padding-bottom: 10px;
        &::before{
            position: absolute;
            content: '';
            width: 50px;
            height: 3px;
            background-color: $orange;
            bottom: 0;
            left: 0;
            border-radius: 2px;
        }
}
.aside{
    width: calc(300px * 100% / 1140px);
    &__banner{
        min-height: 270px;
        border: 1px #000 solid;
        background-color: #E8E8E8;
    }
}
.recipe-info{
    display: flex;
    &__icon{
        color: #978FA1;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.5;
        padding-left: 23px;
        margin-right: 17px;
        &:last-child{
            margin-right: 0;
        }
        &--cap{
            background: url(../img/difficolta-grey.svg) no-repeat;
        }
        &--time{
            background: url(../img/tempo-grey.svg) no-repeat;
        }
    }
}