// Fonts

$font-name: 'Montserrat';
$font-family-base: $font-name, -apple-system, BlinkMacSystemFont, Arial, sans-serif;
$font-size-base: 1rem;


// Color
$body-bg: #F7F6F8;
$violet: #4E3969;
$text-color: #2F2240;
$desc-color: #978FA1;
$orange:#FF9614;

