@media (max-width:1200px){
    .slider-small{
        margin-left: -30px;
        margin-right: -30px;
        &__wrapper{
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    .footer{
        &__container{
        flex-direction: column;
        }
        &__brend{
            margin-bottom: 20px;
        }
        &__nav-list{
            flex-wrap: wrap;
            padding-left: 0;
            margin-right: -21px;
        }
        &__nav-item{
            width: calc(100% / 4 - 21px);
            margin-bottom: 20px;
        }
    }
}
@media (max-width:920px){
        .navigation__list{
            row-gap: 20px;
            & .navigation__item{
            width: calc(100% / 3);
            margin-right: 0;
            text-align: center;
            }
        }
    .banner{
        width: 100%;
        height: 170px;
        margin-bottom: 20px;
    }
    .want{
        grid-template-areas:
        "banner banner"
        "title title"
        "content content";
    }
}
@media (max-width:768px){
    .search-form{
        display: none;
    }
    .header__search--open .search-form{
        display: block;
    }
    .search__mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 74px;
        height: 44px;
        border: 2px #CFC8D8 solid;
        border-radius: 30px;
        margin-right: 20px;
        &-btn{
            border: 0;
            border-radius: 30px;
            background: rgba(155, 92, 183, 0.10) url(../img/search-submit.svg)  no-repeat center / contain;
            width: 64px;
            height: 34px;
        }

    }
    .signin__check-register br{
        display: none;
    }
    .slider-main__small-slide{
            flex-direction: row;
       }
    .item-1, .item-2, .item-3{
        max-width: calc(100% / 2);
        max-height: auto;
    }
    .item-3{
        max-width: calc(100% / 3 - 30px);
        max-height: auto;
    }
    .item-3 .slider-main__slide-text{
        @include adaptiv-value('font-size', 30, 20, 1);
    }
    .slider-main{
        &__arrow{
            display: none;
        }
    }
}
@media (max-width:615px){
    .popup__body{
        @include adaptiv-value('padding-left', 100, 20, 1);
        @include adaptiv-value('padding-right', 100, 20, 1);
    }
}

@media (max-width:550px){
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .want{
        &__title-link{
            font-size: 18px;
        }
        &__link{
            font-size: 14px;
        }
    }
    .header{
        padding: 10px 15px;
        column-gap: 15px;
        &__menu{
            margin: 0;
        }
        &__btn-link{
            width: 100%;
            padding: 0;
        }
        &__btn-link span{
            display: none;
        }
        &__btn{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
            background-color: $orange;
            width: calc(40px + 38 * ((100vw - 320px) / 230));
            height: 42px;
        }
    }
    .search__mobile{
        width: calc(40px + 38 * ((100vw - 320px) / 230));
        margin-right: 0;
        &-btn{
            width: calc(30px + 38 * ((100vw - 320px) / 230));
        }
    }
    .popup__body{
        position: relative;
        padding-top: 40px;
        padding-bottom: 60px;
        grid-template-areas:
            "popup__title popup__title"
            "popup__subtitle popup__subtitle"
            "form-signin form-signin"
            "popup__btn-reg popup__btn-reg";
    }
    .popup__btn-reg{
        padding-top: 30px;
        justify-self: center;
    }
    .popup__link-reg{
        padding: 17px 77px;
        font-size: 15px;
        line-height: 1.5;
    }
    .navigation{
       display: none;
    }
    .footer{
        &__nav-item{
            width: calc(100% / 2 - 21px);
            text-align: center;
            margin-bottom: 10px;
        }
    }
}
@media (max-width:440px){
    .header__search{
        display: none;
    }
    .search-form{
        display: block;
    }
    .header__logo{
        width: calc(130px + 38 * ((100vw - 320px) / 120));
    }
    .header__logo img{
        height: 100%;
    }
    .signin{
        &__check{
            margin-bottom: 10px;
        }
        &__check-register{
            margin-top: 3px;
            margin-bottom: 10px;
        }
        &__remind{
            margin-bottom: 20px;
        }

    }
    .want__content{
        row-gap: 20px;
    }
    .want__inner{
        width: calc(100% /2 - 20px);
    }
    .dessert{
        &__btn{
            right: 0;
        }
    }
    .slider-small__arrow{
        display: none;
    }
    .view-all{
        &__link{
            font-size: 10px;
            padding: 8px 16px;
        }
    }
}
@media (max-width:340px){
    .search__mobile{
        height: 40px;
        &-btn{
            height: 30px;
        }
    }
    .header-btn{
        height: 40px;
    }
    .popup__close{
        top: 5px;
        right: 5px;
    }

}

