.popup{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(78, 57, 105, 0.90);
    overflow-y: auto;
    overflow-x: hidden;
    transition: opacity .5s ease 0s;
    z-index: 1000;
    &.popup--open{
        opacity: 1;
        visibility: visible;
    }
    &__close{
        position: absolute;
        content: '';
        width: 50px;
        height: 50px;
        top: 10px;
        right: 10px;
        cursor: pointer;
        padding: 0;
        border: none;
        background: transparent;
        &-item{
            position: relative;
            top: 50%;
            left: calc(50% - 14px);
            display: block;
            width: 28px;
            height: 2px;
            background-color: #444;
            transform: rotate(45deg);
            &::before{
                position: absolute;
                content: '';
                width: 28px;
                height: 2px;
                top: 0;
                left: 0;
                transform: rotate(90deg);
                background-color: #444;
            }
        }
    }
    &__wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100%;
        padding: 20px;
    }
    &__body{
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-areas:
        "popup__header popup__auth"
        "popup__form popup__form";
       position: relative;
       width: 680px;
       background-color: #fff;
       padding: 60px 100px;
    }
    &__content{
        display: flex;
        justify-content: space-between;
    }
    &__header{
        grid-area: popup__header;
        margin-bottom: 36px;
        padding-right: 20px;
    }
    &__title{
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.181818181818182;
        color: $violet;
        margin-bottom: 6px;
    }
    &__subtitel{
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.428571428571429;
        color: rgba(122, 109, 138, 0.65);
    }
    &__auth{
        grid-area: popup__auth;
        align-self: flex-start;
        &-btn{
            display: block;
            text-decoration: none;
            color: #444;
            font-size: 13px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.384615384615385;
            padding: 11px 22px;
            border-radius: 40px;
            background: rgba(233, 229, 238, 0.40);
            &:hover{
                color: #444;
                background-color: rgba(233, 229, 238);
                box-shadow: 0px 0px 5px 6px rgba(233, 229, 238, 0.4);
            }
            &--reg{
                padding: 11px 27px;
            }
        }
    }
    &__form{
        grid-area: popup__form;
        &-group{
            position: relative;
            margin-bottom: 22px;
        }
        &-label{
            display: block;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.666666666666667;
            color: $violet;
            margin: 0;
        }
        &-input{
            display: block;
            width: 100%;
            height: 46px;
            border: 2px solid #CFC8D8;
            border-radius: 4px;
            padding: 14px 20px;
            color: rgba(0, 0, 0, 0.60);
            font-size: 15px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.2;
        }
        &-show-password{
            position: absolute;
            content: '';
            width: 22px;
            height: 22px;
            top: 50%;
            right: 14px;
            cursor: pointer;
            background: url(../img/pass-close.svg) no-repeat center;
            &.popup__form-show-password--open{
                background: url(../img/pass-show.svg) no-repeat center;
            }
        }
        &-ctrl{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            &__check{
            padding-right: 30px;
            margin-bottom: 30px;
            }
            &-label{
                position: relative;
                margin: 0;
                display: block;
                cursor: pointer;
            }
            &-input{
                position: absolute;
                opacity: 0;
                &:checked + .popup__form-ctrl-box::after{
                    opacity: 1;
                    visibility: visible;
                }
            }
            &-remind{
                margin-bottom: 30px;
            }
            &-link{
                font-size: 13px;
                font-style: normal;
                font-weight: 600;
                line-height: 1.230769230769231;
                text-decoration-line: underline;
                color: #7A6D8A;
                &:hover{
                    color: #7A6D8A;
                }
            }
            &-box{
                display: inline-block;
                font-size: 13px;
                font-style: normal;
                font-weight: 600;
                line-height: 1.230769230769231;
                color: #7A6D8A;
                padding-left: 30px;
                margin-top: 6px;
                &::before{
                    opacity: 1;
                    visibility: visible;
                    position: absolute;
                    top: 4px;
                    left: 0;
                    content: '';
                    width: 20px;
                    height: 20px;
                    border: 2px  solid $orange;
                    border-radius: 4px;
                    background-color: rgba(255, 150, 20, 0.1);
                }
                &::after{
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    top: 4px;
                    left: 0;
                    content: '';
                    width: 20px;
                    height: 20px;
                    background: url(../img/check.svg) no-repeat 50% 50%;
                    text-align: center;
                }
                &--reg::before{
                    top: 24px;
                }
                &--reg::after{
                    top: 24px;
                }
            }
            &-link{
                font-style: normal;
                font-weight: 600;
                line-height: 1.230769230769231;
                color: #7A6D8A;
                text-decoration: underline;
                &:hover{
                    color: #7A6D8A;
                }
            }
        }
        &-submit{
            text-align: center;
            &-btn{
                padding: 14px 84px;
                border-radius: 50px;
                letter-spacing: .6px;
                &--reg{
                padding: 14px 75px;
            }
            }
        }
    }
}


