.slider-small{
        width: auto;
        margin-left: -8px;
        margin-right: -8px;
        padding-top: 30px;
        padding-bottom: 40px;
      &__wrapper{
         padding-left: 8px;
         padding-right: 8px;
      }
     &__arrow{
         width: 40px;
         height: 40px;
         content: '';
         right: 0;
         top: 0;
         border: 2px $orange solid;
         border-radius: 50%;
         background-color: #fff;
         margin: 0;
         &.popular-slider__btn-prev{
            left: calc(100% - 86px);
         }
         & .dessert-slider__btn-prev{
            left: calc(100% - 86px);
         }
         &::after{
             color: $orange;
         }
         &:hover{
            box-shadow: 0px 0px 5px 6px rgba(255, 150, 20, 0.2);
         }
     }
 }

