.main{
    min-width: 0;
}
.slider{
        position: relative;
        width: 100%;
        padding-bottom: 16px;
    &__wrapper{
        width: 100%;
        overflow: hidden;

    }
    &__small-slide{
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }
    &__slide{
        max-width: 1137px;
        display: flex;
        column-gap: 30px;
        &-item{
            position: relative;
            overflow: hidden;
            & .slider__slide-img{
                transform: scale(1.1);
                transition: transform 0.5s ease;
                &:hover{
                    transform: scale(1);
                }
            }
        }
        &-text{
            position: absolute;
            content: '';
            width: 100%;
            height: auto;
            bottom: 20px;
            left: 25px;
            color: #FFF;
            font-size: 30px;
            font-style: normal;
            font-weight: 800;
            line-height: 1;
            margin: 0;
        }

    }
    &__arrow{
        top: 50%;
        width: 40px;
        height: 40px;
        content: '';
        border: none;
        background-color: rgba(233, 229, 238, 0.70);
        font-size: 0;
        border-radius: 50%;
    }
}
.item-1{
    max-width: 360px;
    max-height: 235px;
}
.item-2{
    max-width: 360px;
    max-height: 235px;
}
.item-3{
    max-width: 750px;
    max-height: 500px;
    & .swiper__slide-text{
        font-size: 44px;
        line-height: 50px;
    }
}
.swiper-button-next::after, .swiper-button-prev::after{
    color: #000;
    font-size: 13px;
    font-weight: bold;
}